:root{
    --fundo-principal: #021ca127;
    --segundo-tom: #C8D1E8;
    --icones: #E1E8F4;
    --fonte-roxa: #021ca161;
    --fonte-preta: #000000;
    --fonte-vermelha: #C12323;
    --fonte-principal: 'Sora'
}
* {
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: var(--segundo-tom);
    color: var(--fonte-preta);
    display:grid;
    grid-template-columns: 33% 33% 33%;
    padding: 5px;

}
.logo{
    width: 50%;
}
.botao{
    background-color: var(--icones); 
    border-radius: 100px; 
    padding: 1em; 
    color: var(--fonte-preta);
    display:block;
}
.carrinho{
    width: 50%;
}
.coraçao{
    width: 50%;
}
.conta{
    width: 50%;
}
.pesquisar{
    width: 10%;
}
.item{
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
}