:root{
    --fundo-principal: #021ca127;
    --segundo-tom: #C8D1E8;
    --icones: #E1E8F4;
    --fonte-roxa: #021ca161;
    --fonte-preta: #000000;
    --fonte-vermelha: #C12323;
}

body{
    background-color: #021ca127
}

* {
    margin: 10;
    padding: 10;
}
