:root{
    --fundo-principal: #021ca127;
    --segundo-tom: #C8D1E8;
    --icones: #E1E8F4;
    --fonte-roxa: #021ca161;
    --fonte-preta: #000000;
    --fonte-vermelha: #C12323;
    --fonte-principal: 'Sora'
}

body{
    background-color: #021ca127;
}

* {
    margin: 10;
    padding: 10;
}

.principal{
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    font-family: var(--fonte-principal);
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--icones);
    border-radius: 100px;
    padding: 1em;
    color: var(--fonte-preta);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem{
    width: 80%; 
}

.secundario{
    align-items: center;
    margin: 0 10em;
}


